@import "bootstrap/scss/bootstrap.scss";

body {
  background-color: white;
  font-family: "Karla", sans-serif;
  // font-family: 'Patrick Hand', cursive !important;
}

a {
  color: #365577 !important;
  // display: none;
  // opacity: 0;
}

a:hover {
  color: #99a6b9 !important;
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none !important;
}

#profile-pic {
  // opacity: 0;
  // visibility: hidden;
  position: relative;
  width: 155px;
  height: 180px;
  //   display: none;
}

// #about {
// padding-top: 30px;
// height: 800px;
// color: #fff;
// background-color: #1E88E5;
// }

// #skills {
// padding-top: 72px;
// height: 600px;
// color: #fff;
// background-color: #673ab7;
// }

#skill-list {
  // visibility: hidden;
  // display: none;
  // opacity: 0.0;
  position: relative;
  // margin-left: -100px;
}

#social {
  // padding-top: 70px;
  height: 600px;
  // color: #fff;
  // background-color: #ff9800;
}

#header-box,
#header-icons,
.header-info,
.media-icon,
.media {
  //   opacity: 0;
}
#description {
  height: 425px;
}
#profile-name {
  height: 125px;
}
.tool-icon {
  // visibility: hidden;
  display: none;
  opacity: 0;
  position: relative;
}

.sharpie {
  font-family: "Permanent Marker", cursive;
}

.manuscript {
  font-family: "Patrick Hand", cursive;
}

.handwriting {
  font-family: "Reenie Beanie", cursive;
  // font-family: 'Pangolin', cursive;
}

.bg-theme {
  background-color: #99a6b9 !important;
}

.bg-dark-blue {
  background-color: #365577 !important;
}

.bg-dark-orange {
  background-color: #ff8c00 !important;
}

.bg-vue {
  background-color: #42b883 !important;
}

.bg-xlight {
  background-color: #fcfcfc !important;
}

.text-theme {
  color: #99a6b9 !important;
}

.text-dark-blue {
  color: #365577 !important;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.1rem !important;
}

.hexa,
.hexa div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.hexa {
  width: 305px;
  height: 160px;
}

.hexa div {
  width: 100%;
  height: 100%;
}

.hexa {
  transform: rotate(120deg);
}

.hex1 {
  transform: rotate(-60deg);
}

.hex2 {
  transform: rotate(-60deg);
}
.sm-height {
  height: 75px;
}

.md-height {
  height: 250px;
}

.lg-height {
  height: 410px;
}

.xl-height {
  height: 600px;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  #header-info {
    height: 800px;
  }

  //   #skills {
  //     // padding-top: 70px;
  //     // height: 600px;
  //     // color: #fff;
  //     // background-color: #673ab7;
  //   }

  // .media-icon {
  //   // display: block;
  // }
  .t-mark {
    height: 130px;
  }

  #skill-list .mb-md-5 {
    margin-bottom: 7rem !important;
  }

  #description {
    height: 360px;
  }
}

@media (max-width: 350px) {
  #timeline .row {
    .pr-3 {
      padding-right: 0.7rem !important;
    }
  }
  #profile-name {
    height: 100px;
  }
  #description {
    height: 75px;
  }
}
